<div class="card">
  <div class="card-body">
    <!-- String interpolation -->
    <div
      style="width: 15px; height: 15px; background-color: red"
      *ngIf="appareilStatus === 'éteint'"
    ></div>
    <li
      [ngClass]="{
        'list-group-item': true,
        'list-group-item-success': appareilStatus === 'allumé',
        'list-group-item-danger': appareilStatus === 'éteint'
      }"
    >
      <h4> Appareil: {{ appareilName }} - Statut: {{ getStatus() }} </h4>
      <p>Last modified: {{ lastModified | date : 'short'}} </p>
    </li>
  </div>
</div>
