<br />
<h2>Mes Appareils</h2>
<div class="spinner-border text-warning" role="status" *ngIf="isLoading">
  <span class="visually-hidden">Loading...</span>
</div>
<ul class="list-group" style="width: 50%"  *ngIf="!isLoading">
  <app-appareil-item
    [appareilName]="app.name"
    [appareilStatus]="app.status"
    [appareilIndex]="i"
    *ngFor="let app of appareils; let i = index"
  ></app-appareil-item>

  <!-- <app-appareil-item></app-appareil-item>
  <app-appareil-item></app-appareil-item>
  <app-appareil-item></app-appareil-item> -->
</ul>
<br />
<button class="btn btn-primary" (click)="onAllumerTout()">Allumer tout</button>
&nbsp;
<button class="btn btn-danger" (click)="onEteindreTout()">Eteindre tout</button>
<br />
<br />
